In [1]:
import numpy as np
import pandas as pd

In [2]:
df_albany = pd.read_csv('../cleaned-data-frames/albany.csv')

In [3]:
target = pd.read_csv('../cleaned-data-frames/target-electricity-consumption.csv')

In [4]:
# Making the lengths same
df_albany = df_albany.iloc[0:7560,:]
display(df_albany)
display(target)

df_albany.__delitem__('name')

,Unnamed: 0,Unnamed: 0.1,name,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,26277,"ALBANY INTERNATIONAL AIRPORT, NY US",1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,26278,"ALBANY INTERNATIONAL AIRPORT, NY US",2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,26279,"ALBANY INTERNATIONAL AIRPORT, NY US",3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,26280,"ALBANY INTERNATIONAL AIRPORT, NY US",4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,26281,"ALBANY INTERNATIONAL AIRPORT, NY US",5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,33832,"ALBANY INTERNATIONAL AIRPORT, NY US",20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,33833,"ALBANY INTERNATIONAL AIRPORT, NY US",21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,33834,"ALBANY INTERNATIONAL AIRPORT, NY US",22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,33835,"ALBANY INTERNATIONAL AIRPORT, NY US",23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,33836,"ALBANY INTERNATIONAL AIRPORT, NY US",24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      Unnamed: 0  Year  Month  Day  Hour  Consumption
0              0  2020      1    1     1      15417.0
1            315  2020      1    1     2      14891.0
2            630  2020      1    1     3      14506.0
3            945  2020      1    1     4      14226.0
4           1260  2020      1    1     5      14211.0
...          ...   ...    ...  ...   ...          ...
7555        6299  2020     11   10    20      17489.0
7556        6614  2020     11   10    21      16750.0
7557        6929  2020     11   10    22      15963.0
7558        7244  2020     11   10    23      15060.0
7559        7559  2020     11   10    24      14126.0

[7560 rows x 6 columns]

In [5]:
df_albany = df_albany.reset_index()
target = target.reset_index()

In [6]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

clean_dataset(df_albany)
clean_dataset(target)

display(df_albany)
display(target)

,index,Unnamed: 0,Unnamed: 0.1,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,0,26277,1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,1,26278,2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,2,26279,3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,3,26280,4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,4,26281,5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,7555,33832,20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,7556,33833,21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,7557,33834,22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,7558,33835,23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,7559,33836,24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      index  Unnamed: 0  Year  Month  Day  Hour  Consumption
0         0           0  2020      1    1     1      15417.0
1         1         315  2020      1    1     2      14891.0
2         2         630  2020      1    1     3      14506.0
3         3         945  2020      1    1     4      14226.0
4         4        1260  2020      1    1     5      14211.0
...     ...         ...   ...    ...  ...   ...          ...
7555   7555        6299  2020     11   10    20      17489.0
7556   7556        6614  2020     11   10    21      16750.0
7557   7557        6929  2020     11   10    22      15963.0
7558   7558        7244  2020     11   10    23      15060.0
7559   7559        7559  2020     11   10    24      14126.0

[7559 rows x 7 columns]

In [7]:
# Performing linear regression
from sklearn.linear_model import LinearRegression

y = target.Consumption

x = df_albany[['AWT26_Power',
       'AWP_200_Power', 'D2CF_200_Power', 'AN_Bonus_150/30_Power',
       'Aria_20_Power', 'WWD-1_D64_Power', 'solar', 'Solar_AllMax',
       'Solar_TrinaSolar', 'Solar_Mitsubishi', 'Solar_FirstSolar']]

In [8]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(x/50000,y)

ValueError: Found input variables with inconsistent numbers of samples: [7560, 7559]

In [ ]:
df_albany.columns

In [ ]:
index = x['Solar_FirstSolar'].isna()
x[index]

In [ ]:
x/500

In [ ]:
x.isnull().values.any()

In [ ]:
np.any(np.isnan(x))

In [ ]:
np.all(np.isfinite(x))